:root {
    --background-white: #ffffff;
    --primary-cyan : #02485ade;
    --dark-mode-bg : #012129de;
    --secondary : #eb7405;
    --links : #fff9e4de;
}

* {
    margin: 0px;
}
.progress-bar{
    height: 0.5rem;
    width: 90%;
    background-color: #36363650;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.myCanvas {
    border: solid 2px #FFFFFF;
    border-radius: 0.2rem;
}
.progress{
    background-color: var(--primary-cyan);
    height: 100%;
    animation-name: slide;
    animation-duration: 2.5s;
}

.bold{
    font-weight: bolder;
}

body{
    background-color: var(--background-white);
    font-family: 'Inter', sans-serif;
    transition: all 0.2s;
    min-height: 101vh;
}
#topic__name, #header--text{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 7px;
}
#header--text{
    font-size: 2rem;
    color: var(--dark-mode-bg);
    transition: all 0.2s;
    animation: slide-in 0.6s;
}

.intro__info{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
}

.intro__info--main{
    color : var(--dark-mode-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 100vw;
}

.intro__info--main img{
    border-radius: 100%;
    max-width:50%;
    transition: all 0.3s;
}

.intro__info--1{
    margin: 1.2rem 0;
    animation: fade-in 0.5s;
}
.intro__info--1 > h3 {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: var(--secondary);
}
.intro__info--1 ul, .intro__info--2 {
    font-size: 0.8rem;
}
.intro__info--2 {
    text-align: center;
}
li{
    margin: 0.5rem 0;
}
.projects__list{
    background-color: var(--primary-cyan);
    color: var(--background-white);
    backdrop-filter: blur(10px);
    margin: 0 auto;
    border-radius: 0.5rem;
    min-height: 10rem;
    padding: 0.5rem;
    animation: fade-in 0.9s;
    width: 90%;
}
hr{
    width: 70%;
    margin: 0 auto;
    opacity: 0.4;
}

.projects__list ul{
    list-style-type: none;
    line-height: 1.4rem;
    padding: 0px;
}
.projects__list li {
    padding: 0.5rem;
    padding-left: 1rem;
    width: 80%;
    margin: 0 auto;
}
.projects__list a{
    font-size: smaller;
    color: var(--links);
}
.projects__list a:hover{
    color: #ff8e25;
}
a{
    text-decoration: none;
    color: var(--links);
}
.dark-mode a{
    color: var(--dark-mode-bg);
}
a:hover{
    text-decoration: underline;
}

/* SUB PAGES */
#topic__description{
    color: var(--secondary);
    text-align: center;
    padding: 0.4rem;
}
.notes-main{
    margin: 0 auto;
    border-radius: 0.4rem;
    max-width: 70%; 
    background-color: var(--primary-cyan);
    color: var(--background-white);
    padding: 2rem;
}
.emph{
    font-weight: bolder;
    font-size: 1rem;
}
.emph_2{
    display: block;
}

.emph_3{
    color: var(--secondary);
}
.emph_4{
   color: #070e1a;
    background-color: whitesmoke;
    padding: 0.2rem;
    border-radius: 7px;
    font-family: monospace;
}
.dark-mode .emph_4{
     background-color: #1d1d23;
}

.emph_4 .const{
    color: #0085b9;
}
.emph_4 .symbol{
    color: #e1b700;
}
.emph_4 .string{
    color: #ffaf02;
}
.emph_4 .method{
    color: rgb(80, 133, 0);
}
.notes-list{
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.table{
    border: 2px solid #070e1a;
    padding: 1rem;
    
}
.dark-mode .table {
    border-color: #ffffff;
    
}
::-webkit-scrollbar{
    display: none;
}

input{
    margin: 1rem;
    height: 2.5rem;
    border-radius: 7px;
    min-width: 20rem;
    border: none;
    background-color: #dadadab9;
}
button{
    min-width: 5rem;
    margin: 10px;
    background-color: var(--dark-mode-bg);
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    color: var(--secondary);
    transition: all 0.5s;
}
.dark-mode button{
    background-color: #0d2241;
}

button:hover{
    border: 1px solid #FFFFFF;
}
label{
    display: block;
}

textarea{
    min-width: 28rem;
    border-radius: 7px;
    min-height: 20rem;
    background-color: #dadadab9;
    padding: 0.3rem;
}


h3{
    margin: 1rem;
}

footer{
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
.dark-mode footer{
    color: rgba(240, 248, 255, 0.288);
}

@keyframes slide{
    from{
        width: 5%;
        background-color: var(--secondary);
    }
}
@keyframes slide-in{
    from{
        transform: translateY(-3rem);
    }
}
@keyframes fade-in {
    from{
        opacity: 0.1;
        transform: translateY(3rem);
    }
}

@media screen and (min-width: 800px) {
    ul, li {
        padding-left: 1rem;
    }
    
    .progress-bar{
        height: 0.8rem;
    }

    .intro__info--1 > h3 {
        text-align: left;
        padding-left: 1rem;
    }
    .intro__info{
        display: grid;
        grid-template-columns: 20rem 1fr 20rem;
        grid-template-rows: 1fr;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .intro__info--main{
        grid-column: 2/3;
    }
    .intro__info--1{
        align-self: flex-end;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .intro__info--2{
        grid-column: 3/4;
        grid-row: 1/2;
        align-self: flex-end;
        text-align: right;
    }
    .projects__list{
        width: 90%;
    }

}
