*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem;
    overflow: hidden;
    min-height: 30rem;
    height: 96vh;
    background-color: #000000;
    /* background-image: url("https://d1dxs113ar9ebd.cloudfront.net/225batonrouge/2019/07/food.jpg?q=70&crop=faces&fit=crop&w=1300&h=600"); */
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.chat-area {
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
    max-height: 90vh;
    overflow: scroll;
}
.text-box {
    min-height: 2rem;
    min-width: 30%;
    width: fit-content;
    max-width: 80%;
    border-radius: 0.6rem;
    margin: 0.4rem; 
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
}
.text-box-me {
    margin-top: auto;
    margin-left: auto;
    background-color: #1db5fc;
    color: white;
}
.text-box-other {
    margin-right: auto;
    background-color: #07c264;
    color: #ffffff;
}
form{
    display: flex;
    align-items: stretch;
    justify-items: stretch;
}
form input, button{
    margin: 0.3rem;
    border: none;
    border-radius: 2rem;
    transition: all 0.2s;
}
form input{
    width: 90%;
    padding-left: 1rem;
}
form input:focus{
    outline: none;
    background-color: #ffffffba;
}

form button{
    background-color: #1ea1d4;
    color: white;
    width: 30%;
}
form button:active{
    transform: scale(1.1);
}

			

.user-entry {
    background-color: #cacacac9;
    height: 5rem;
    width: 80%;
    max-width: 25rem;
    display: grid;
    justify-items: center;
    margin: auto;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
}
.user-select-box {
    width: 100%;
    display: flex;
}

.user-select-box button{
    width: 100%;
}
.user-select-box button:hover{
    background-color: black;
    color: #1d89fc;
}

.hide{
    display: none;
}

::-webkit-scrollbar{
    display: none;
}